<img src="/images/enova_logo.jpg" width="239" height="77" border="0" />
<h2>All Expenses</h2>

<table border="1" cellpadding="2">
  <tr>
    <th>Date of Expense</th>
    <th>Place of Expense</th>
    <th>City</th>
    <th>State</th>
    <th>Business Purpose</th>
    <th>Amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @expenses.each do |expense| %>
  <tr>
    <td><%= expense.date_of_expense %></td>
    <td><%= expense.place_of_expense %></td>
    <td><%= expense.city %></td>
    <td><%= expense.state %></td>
    <td><%= expense.business_purpose %></td>
    <td><%= expense.amount %></td>
    <td><%= link_to 'Show', expense %></td>
    <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
    <td><%= link_to 'Delete', expense, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Enter New Expense', new_expense_path %>
